.nav-height {
    height: 80px;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1020;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.right-height {
    margin-top: 10px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: darkslategray;
}

#logo {
    height: 50px;
}

.style-btn {
    height: 50px;
    background-color: #eb4b6a;
    border-radius: 5px;
    color: #fff; 
}

.style-btn:hover {
    background-color: #eb4b6a;
    color: #fff
}

.section {
    height: 705px;
    background-color: #31421c;
    margin-left: 15px;
    margin-right: 15px;
}

.section img {
    margin-top: 13px;
    margin-left: 40px;
}

.section h4 {
    margin-top: 22px;
    margin-left: 123px;
    color: white;
}

.section-1 {
    background-color: lightgreen;
    margin-top: 43px;
    margin-right: 35px;
    margin-left: 35px;
}

.section-1 h5 {
    color: white;
    margin-left: 390px;
    padding-top: 50px;
}

.section-2 {
    height: 530px;
} 

.section-2 h3 {
    margin-top: -43px;
    margin-left: 430px;
    padding-left: 10px;
    background-color: lightslategray;
    width: 310px;
    color: navy;
}

.h-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.h-2 {
    padding-top: 8px;
    padding-bottom: 9px;
}

.h-3 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.h-4 {
    padding-top: 8px;
    padding-bottom: 9px;
}

.h-5 {
    padding-top: 8px;
    padding-bottom: 9px;
}

.h-6 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.h-7 {
    padding-top: 8px;
    padding-bottom: 9px;
}

.form-group input {
    margin-top: 26px;
    margin-right: -5px;
    margin-left: 415px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 110px;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: darkslateblue;
    height: 45px;
    margin-right: 40px;
    margin-left: 40px;
}

.related h5 {
    margin-top: -34px;
    margin-left: 230px;
    margin-right: -450px;
    color: lightslategray;
}

.table h5 {
    margin-top: -34px;
    margin-left: 380px;
}

.linens h5 {
    margin-top: -34px;
    margin-left: -565px;

}

.lamps h5 {
    margin-top: -34px;
    margin-left: -426px;
}

.flex {
    display: flex;
    justify-content: center;
}

.help {
    margin-right: 20px;
}

.contact {
    margin-right: 20px;
}

.about {
    margin-right: 20px;
}

.affilates {
    margin-right: 20px;
}

.footer span {
    margin-left: 498px;
}